@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
}
.encabezado{
    position: absolute;
    /* width: 1440px; */
    height: 62px;
    left: 0px;
    right: 0px;
    top: 0px;
    background: #093931;

    }
.encabezado span {
    position: absolute;
    width: 95px;
    height: 46px;
    left: 132px;
    
    font-family: 'Cormorant Garamond', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 46px;
    
    color: #F5D38E;
    }
    
    /* Header Menu 1 */
    .encabezado nav {
    position: absolute;
    width: 431px;
    height: 43px;
    right: 218px;
    
    border-radius: 4px;
    }
    .encabezado a{
    padding: 10px;
    text-decoration: none;    
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    color: #FFFFFF;
    
    }
    
    .encabezado img{
    width: 20px;
    height: 20px;
    padding-left: 10px;
    }


    /* Container 5 */
.pagina{
position: absolute;
height: 826px;
left: 0px;
right: 0px;
top: 62px;

background: #FFFFFF;
border-radius: 4px;
}

.homeetiqueta{

position: absolute;
width: 34px;
height: 22px;
left: calc(50% - 34px/2 - 571px);
top: 72px;
text-decoration: none;
font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */

color: #0D554A;
}

.arrow1{
    /* Arrow forward ios 1 */

position: absolute;
width: 16px;
height: 16px;
left: calc(50% - 16px/2 - 529px);
top: 75px;

}

.shopetiqueta {
    /* Shop */

position: absolute;
width: 28px;
height: 22px;
left: calc(50% - 28px/2 - 495px);
top: 72px;
text-decoration: none;
font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */

color: #0D554A;


}

.arrow2{
    /* Arrow forward ios 1 */

position: absolute;
width: 16px;
height: 16px;
left: calc(50% - 16px/2 - 457px);
top: 75px;

}

.luxuryetiqueta{
    /* Luxury Charms */

position: absolute;
width: 85px;
height: 22px;
left: calc(50% - 85px/2 - 394.5px);
top: 72px;

font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */

color: #0D554A;


}
.luxury1{
    /* Image 5 */

box-sizing: border-box;

position: absolute;
width: 64px;
height: 82px;
left: calc(50% - 64px/2 - 556px);
top: 118px;

background: url(.jpg);
border: 1px solid #0D554A;
border-radius: 4px;

}
.luxury2{
    /* Image 5 */

position: absolute;
width: 64px;
height: 82px;
left: calc(50% - 64px/2 - 556px);
top: 212px;

background: url(.jpg);
border-radius: 4px;

}

.luxury3{
/* Image 5 */

position: absolute;
width: 64px;
height: 82px;
left: calc(50% - 64px/2 - 556px);
top: 306px;

background: url(.jpg);
border-radius: 4px;


}

.luxury4{
    /* Image 5 */

position: absolute;
width: 78px;
height: 92px;
left: calc(50% - 67px/2 - 561px);
top: 400px;

background: url(.jpg);


}

.luxury5{
    /* Image 5 */

position: absolute;
width: 477px;
height: 636px;
left: calc(50% - 477px/2 - 275.5px);
top: 118px;

background: url(.jpg);
border-radius: 8px;

}

.corazon{
    /* Vector */

position: absolute;
width: 24px;
height: 24px;
top: 134px;
left: 680px;
}

.luxurycharms{
    /* Luxury Charms Ring */

position: absolute;
width: 332px;
height: 56px;
left: calc(50% - 332px/2 + 177px);
top: 118px;

font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 56px;
/* identical to box height, or 140% */

color: #0D554A;
}

.code{
    /* Code: 78205 */

position: absolute;
width: 94px;
height: 26px;
left: calc(50% - 94px/2 + 58px);
top: 174px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

color: #323842;
}

.precio{
    /* $620.73 */

position: absolute;
width: 154px;
height: 56px;
left: calc(50% - 154px/2 + 88px);
top: 212px;

font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 56px;
/* identical to box height, or 140% */

color: #B37D10;
}

.colorrosegold{
    /* Color - Rose Gold */

position: absolute;
width: 134px;
height: 26px;
left: calc(50% - 134px/2 + 78px);
top: 280px;

font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

color: #424955;
}
.size{
    /* Size - 48 */

position: absolute;
width: 66px;
height: 26px;
left: calc(50% - 66px/2 + 44px);
top: 358px;

font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

color: #424955;

}
.oval{
/* Oval 1 */

box-sizing: border-box;

position: absolute;
width: 36px;
height: 36px;
left: calc(50% - 36px/2 + 29px);
top: 310px;

}
.ovalrosa{
    /* Oval 1 */

box-sizing: border-box;

position: absolute;
width: 36px;
height: 36px;
left: calc(50% - 36px/2 + 81px);
top: 310px;

}

.whatis{
    /* What is my size? */

position: absolute;
width: 93px;
height: 20px;
left: calc(50% - 93px/2 + 520.5px);
top: 358px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 20px;
/* identical to box height, or 167% */
text-align: right;
text-decoration-line: underline;

color: #424955;
}
/* Tag 1 */
.tag1{
position: absolute;
width: 556px;
height: 36px;
left: calc(50% - 556px/2 + 289px);
top: 388px;
}


.quantity{
    /* Quantity */

position: absolute;
width: 69px;
height: 26px;
left: calc(50% - 69px/2 + 45.5px);
top: 436px;

font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

color: #424955;
}

/* Button 5 */
.menos{
position: absolute;
width: 39px;
height: 44px;
left: calc(50% - 39px/2 + 30.5px);
top: 466px;

background: #F3F4F6;
border-radius: 4px;
font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

color: #565E6C;
}

/* Textbox 5 */
.uno{
position: absolute;
width: 38px;
height: 43px;
left: calc(50% - 38px/2 + 85px);
top: 466px;

background: #F3F4F6;
border-radius: 4px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

color: #171A1F;
}

.mas{
    /* Button 5 */

position: absolute;
width: 41px;
height: 44px;
left: calc(50% - 41px/2 + 141.5px);
top: 466px;

background: #F3F4F6;
border-radius: 4px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

color: #565E6C;


}


/* Button 5 */
.add{
box-sizing: border-box;

position: absolute;
width: 266px;
height: 52px;
left: calc(50% - 266px/2 + 144px);
top: 534px;

background: #FFFFFF;
border: 1px solid #0D554A;
border-radius: 26px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */

color: #0D554A;
}


/* Add shopping cart */
.addcart{
position: absolute;
width: 24px;
height: 24px;
left: 830px;
top: 548px;
}

/* Button 5 */
.buy{
position: absolute;
width: 266px;
height: 52px;
left: calc(50% - 266px/2 + 434px);
top: 534px;

background: #0D554A;
border-radius: 26px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */

color: #FFFFFF;
}

/* Textbox 5 */
.menu-desplegable1{
position: absolute;
width: 266px;
height: 44px;
left: calc(50% - 266px/2 + 144px);
top: 610px;

border-radius: 4px 4px 0px 0px;
}

/* Vector */
.vectordelivery{
position: absolute;
width: 266px;
top: 44px;
border: 1px;

}

/* Delivery */
.deliverymenu{
position: absolute;
height: 26px;
left: 0px;
right: 207px;
top: calc(50% - 26px/2);

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

color: #171A1F;
}


/* Chevron down large */
.chevron{
position: absolute;
width: 20px;
height: 20px;
right: 0px;
top: calc(50% - 20px/2);
}

/* Textbox 5 */
.menu-desplegable2{
position: absolute;
width: 266px;
height: 44px;
left: calc(50% - 266px/2 + 434px);
top: 610px;

border-radius: 4px 4px 0px 0px;
}

/* Vector */
.vectorp{
position: absolute;
width: 266px;
top: 44px;
border: 1px;
}

/* Payment */
.paymentmenu{
position: absolute;
height: 26px;
left: 0px;
right: 201px;
top: calc(50% - 26px/2);

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

color: #171A1F;
}


/* Chevron down large */
.chevron2{
position: absolute;
width: 20px;
height: 20px;
right: 0px;
top: calc(50% - 20px/2);
}


/* Textbox 5 */
.menu-desplegable3{
position: absolute;
width: 266px;
height: 44px;
left: calc(50% - 266px/2 + 144px);
top: 666px;

border-radius: 4px 4px 0px 0px;
}

/* Vector */
.vectordelivery3{
position: absolute;
width: 266px;
top: 44px;
border: 1px;
}

/* Warranty */
.warrantymenu{
position: absolute;
height: 26px;
left: 0px;
right: 198px;
top: calc(50% - 26px/2);

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

color: #171A1F;
}


/* Chevron down large */
.chevron3{
position: absolute;
width: 20px;
height: 20px;
right: 0px;
top: calc(50% - 20px/2);
}


/* Textbox 5 */
.menu-desplegable4{
position: absolute;
width: 266px;
height: 44px;
left: calc(50% - 266px/2 + 434px);
top: 666px;

border-radius: 4px 4px 0px 0px;
}

/* Vector */
.vectordelivery4 {
position: absolute;
width: 266px;
top: 44px;
border: 1px;
}

/* Care */
.caremenu{
position: absolute;
height: 26px;
left: 0px;
right: 230px;
top: calc(50% - 26px/2);

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

color: #171A1F;
}


/* Chevron down large */
.chevron4{
position: absolute;
width: 20px;
height: 20px;
right: 0px;
top: calc(50% - 20px/2);
}















/* Container 5 */
.primera{
position: absolute;
height: 949px;
left: 132px;
right: 132px;
top: 888px;

background: #FAFAFB;
border-radius: 8px;
}

/* Image 5 */
.imagenprimera{
position: absolute;
height: 581px;
left: 72px;
right: 72px;
top: 296px;

background: url(.jpg);
border-radius: 8px;
}

/* Exquisite Elegance and Timeless Charm */
.primera h1{
position: absolute;
width: 626px;
height: 56px;
left: 72px;
top: 98px;

font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 56px;
/* identical to box height, or 140% */

color: #0D554A;
}


/* Description */
.primera p{
position: absolute;
width: 86px;
height: 26px;
left: 72px;
top: 48px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

color: #323842;
}


/* Lorem esse et culpa proident duis mollit nisi proident elit pariatur elit sit consectetur et do proident ea voluptate deserunt. Consequat dolore qui aute magna voluptate enim qui id cillum enim excepteur occaecat culpa deserunt eu.Culpa labore incididunt labore proident eu anim in. */
.primera h2{
position: absolute;
height: 84px;
left: 72px;
right: 72px;
top: 166px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* or 156% */

color: #323842;
}

/* Icon Button 3 */
.boton{
position: absolute;
width: 52px;
height: 52px;
left: 562px;
top: 561px;

background: #FFFFFF;
border-radius: 26px;
}

/* Container 5 */
.segunda{
position: absolute;
height: 232px;
left: 0px;
right: 0px;
top: 1899px;

background: #FFFFFF;
}

/* Love message 3 */
.love{
position: absolute;
width: 62px;
height: 62px;
left: calc(50% - 62px/2 + 1px);
top: 36px;
}


/* Customer care */
.Costumer{
position: absolute;
width: 104px;
height: 28px;
left: calc(50% - 104px/2 + 2px);
top: 116px;

font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */
text-align: center;

color: #171A1F;
}


/* Ea esse elit anim commodo laborum pariatur nisi. Voluptate elit d */
.costumerp{
position: absolute;
width: 276px;
height: 52px;
left: calc(50% - 276px/2 + 1px);
top: 144px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 162% */
text-align: center;

color: #9095A0;
}


/* Delivery time 3 */
.time{
position: absolute;
width: 62px;
height: 62px;
left: calc(50% - 62px/2 - 402px);
top: 36px;
}

/* Delivery */
.delivery{
position: absolute;
width: 60px;
height: 28px;
left: calc(50% - 60px/2 - 401px);
top: 116px;

font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */
text-align: center;

color: #171A1F;
}


/* Ea esse elit anim commodo laborum pariatur nisi. Voluptate elit d */
.deliveryp{
position: absolute;
width: 276px;
height: 52px;
left: calc(50% - 276px/2 - 402px);
top: 144px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 162% */
text-align: center;

color: #9095A0;
}


/* Lock landscape 3 */
.lock{
position: absolute;
width: 62px;
height: 62px;
left: calc(50% - 62px/2 + 404px);
top: 36px;
}

/* Payment security */
.Payment{
position: absolute;
width: 121px;
height: 28px;
left: calc(50% - 121px/2 + 405.5px);
top: 116px;

font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */
text-align: center;

color: #171A1F;
}


/* Ea esse elit anim commodo laborum pariatur nisi. Voluptate elit d */
.paymentp{
position: absolute;
width: 276px;
height: 40px;
left: calc(50% - 276px/2 + 404px);
top: 144px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 162% */
text-align: center;

color: #9095A0;
}

/* Container 5 */
.tercera{
position: absolute;
height: 586px;
left: 0px;
right: 0px;
top: 2161px;

background: #FFFFFF;
}

/* You may also like */
.tercera h1{
position: absolute;
width: 270px;
height: 56px;
left: 132px;
top: 48px;

font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 56px;
/* identical to box height, or 140% */

color: #0D554A;
}


/* Container 5 */
.tercera6{
position: absolute;
width: 276px;
height: 410px;
left: 1632px;
top: 128px;

background: #FFFFFF;
box-shadow: 0px 0px 2px rgba(23, 26, 31, 0.12), 0px 0px 1px rgba(23, 26, 31, 0.07);
border-radius: 8px;
}

/* Mementos Necklace */
.tercera6 h1{
position: absolute;
width: 192px;
height: 36px;
left: 12px;
top: 332px;

font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */

color: #171A1F;
}


/* $264.22 */
.tercera6 p{
position: absolute;
width: 60px;
height: 26px;
left: 12px;
top: 366px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

color: #171A1F;
}


/* Image 5 */
.tercera6 img{
position: absolute;
height: 320px;
left: 0px;
right: 0px;
top: 0px;
border-top-right-radius: 8px;
border-top-left-radius: 8px;
background: url(.jpg);
}

/* Container 5 */
.tercera1{
position: absolute;
width: 276px;
height: 410px;
left: 132px;
top: 128px;

background: #FFFFFF;
box-shadow: 0px 0px 2px rgba(23, 26, 31, 0.12), 0px 0px 1px rgba(23, 26, 31, 0.07);
border-radius: 8px;
}

/* Radiance Necklace */
.tercera1 h1{
position: absolute;
width: 180px;
height: 36px;
left: 12px;
bottom: 42px;
top: 332px;
font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */

color: #171A1F;
}


/* $168.76 */
.tercera1 p{
position: absolute;
width: 57px;
height: 26px;
left: 12px;
bottom: 18px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

color: #171A1F;
}


/* Image 5 */
.tercera1 img{
position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 90px;
border-top-right-radius: 8px;
border-top-left-radius: 8px;
background: url(.jpg);
}

/* Container 5 */
.tercera2{
position: absolute;
width: 276px;
height: 410px;
left: 432px;
top: 128px;

background: #FFFFFF;
box-shadow: 0px 0px 2px rgba(23, 26, 31, 0.12), 0px 0px 1px rgba(23, 26, 31, 0.07);
border-radius: 8px;
}

/* Exquisite Earrings */
.tercera2 h1{
position: absolute;
width: 172px;
height: 36px;
left: 12px;
bottom: 42px;
top: 332px;
font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */

color: #171A1F;
}


/* $125.28 */
.tercera2 p{
position: absolute;
width: 57px;
height: 26px;
left: 12px;
bottom: 18px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

color: #171A1F;
}


/* Image 5 */
.tercera2 img{
position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 90px;
border-top-right-radius: 8px;
border-top-left-radius: 8px;
background: url(.jpg);
}

/* Container 5 */
.tercera3{
position: absolute;
width: 276px;
height: 410px;
left: 732px;
top: 128px;

background: #FFFFFF;
box-shadow: 0px 0px 2px rgba(23, 26, 31, 0.12), 0px 0px 1px rgba(23, 26, 31, 0.07);
border-radius: 8px;
}

/* Glamour Necklace */
.tercera3 h1{
position: absolute;
width: 178px;
height: 36px;
left: 12px;
bottom: 42px;
top: 332px;
font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */

color: #171A1F;
}


/* $620.73 */
.tercera3 p {
position: absolute;
width: 60px;
height: 26px;
left: 12px;
bottom: 18px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

color: #171A1F;
}


/* Image 5 */
.tercera3 img {
position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 90px;
border-top-right-radius: 8px;
border-top-left-radius: 8px;
background: url(.jpg);
}

/* Container 5 */
.tercera4 {
position: absolute;
width: 276px;
height: 410px;
left: 1032px;
top: 128px;

background: #FFFFFF;
box-shadow: 0px 0px 2px rgba(23, 26, 31, 0.12), 0px 0px 1px rgba(23, 26, 31, 0.07);
border-radius: 8px;
}

/* Delights Earrings */
.tercera4 h1{
position: absolute;
width: 164px;
height: 36px;
left: 12px;
bottom: 42px;
top: 332px;
font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */

color: #171A1F;
}


/* $327.71 */
.tercera4 p{
position: absolute;
width: 53px;
height: 26px;
left: 12px;
bottom: 18px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

color: #171A1F;
}


/* Image 5 */
.tercera4 img{
position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 90px;
border-top-right-radius: 8px;
border-top-left-radius: 8px;
background: url(.jpg);
}

/* Container 5 */
.tercera5 {
position: absolute;
width: 276px;
height: 410px;
left: 1344px;
top: 128px;

background: #FFFFFF;
box-shadow: 0px 0px 2px rgba(23, 26, 31, 0.12), 0px 0px 1px rgba(23, 26, 31, 0.07);
border-radius: 8px;
}

/* Dreamy Necklace */
.tercera5 h1{
position: absolute;
width: 167px;
height: 36px;
left: 12px;
bottom: 42px;
top: 332px;
font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */

color: #171A1F;
}


/* $327.71 */
.tercera5 p {
position: absolute;
width: 54px;
height: 26px;
left: 12px;
bottom: 18px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

color: #171A1F;
}


/* Image 5 */
.tercera5 img{
position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 90px;
border-top-right-radius: 8px;
border-top-left-radius: 8px;
background: url(.jpg);
}








    .piedepagina{
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 230px;
        /* width: 1440px; */
        height: 522px;
        top: 2795px;
        background: #093931;
        }
        
        
        
        /* From the people  */
        .fromthepeople{
        position: absolute;
        width: 311px;
        height: 68px;
        left: 132px;
        top: calc(50% - 68px/2 - 58px);
        
        font-family: 'Cormorant Garamond';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 68px;
        /* identical to box height, or 142% */
        
        color: #FFFFFF;
        }
        
        
        /* We love hearing from our customers! You’re the reason we’re here and the reason we do what we do. */
        .pparte1{
        position: absolute;
        width: 264px;
        height: 104px;
        left: 132px;
        top: calc(50% - 104px/2 + 40px);
        
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        /* or 162% */
        
        color: #FFFFFF;
        }
        
        
        /* Container 1 */
        .parte2{
        position: absolute;
        width: 696px;
        height: 375px;
        right: 132px;
        top: calc(50% - 375px/2 - 1.5px);
        
        background: rgba(23, 26, 31, 0.3);
        border-radius: 8px;
        }
        
        /* Image 1 */
        .piedepaginaimg{
        position: absolute;
        width: 300px;
        height: 375px;
        left: 0px;
        top: 0px;
        border-radius: 8px 8px 0px;
        border-top-right-radius: 0px;
        background: url(.jpg);
        }
        
        /* The ring itself is stunning, with a beautiful design that catches the light and sparkles from every angle. The quality of the materials used is evident, as the ring feels substantial and durable. The gemstone is exquisite, with a vibrant color and exceptional clarity. */
        .pparte2{
        position: absolute;
        height: 182px;
        left: 336px;
        right: 36px;
        top: 60px;
        
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        /* or 162% */
        
        color: #FFFFFF;
        }
        
        
        /* Anna Fernandez */
        .nombreanna{
        position: absolute;
        width: 156px;
        height: 30px;
        left: 336px;
        top: 260px;
        
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        /* identical to box height, or 150% */
        
        color: #FFFFFF;
        }
        
        
        /* USA */
        .nombreusa{
        position: absolute;
        width: 31px;
        height: 26px;
        left: 336px;
        top: 290px;
        
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        /* identical to box height, or 162% */
        
        color: #FFFFFF;
        }
        
        
        /* Icon Button 1 */
        .izqboton1{
            position: absolute;
            display: flex;
            width: 52px;
            height: 52px;
            padding: 10.5px;
            left: 530px;
            top: 340px;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
        }
        
        .derboton2{
            position: absolute;
            display: flex;
            width: 52px;
            height: 52px;
            padding: 10.5px;
            left: 600px;
            top: 340px;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
        }
        
        /* Container 1 */
        .parte3{
        position: absolute;
        /* width: 1440px; */
        height: 234px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        top: 523px;
        background: #093931;
        }
        
        
        
        /* Logo facebook 1 */
        .logofb{
        position: absolute;
        width: 24px;
        height: 24px;
        right: 212px;
        bottom: 24px;
        }
        
        
        /* Logo twitter 1 */
        .logotwitter{
        position: absolute;
        width: 24px;
        height: 24px;
        right: 252px;
        bottom: 24px;
        }
        
        
        
        /* Logo youtube 1 */
        .logoyoutube{
        position: absolute;
        width: 24px;
        height: 24px;
        right: 132px;
        bottom: 24px;
        }
        
        
        
        /* Logo linkedin 1 */
        .logolinkedin{
        position: absolute;
        width: 24px;
        height: 24px;
        right: 172px;
        bottom: 24px;
        }
        
        
        
        /* Darling. */
        .darlingf{
        position: absolute;
        width: 95px;
        height: 46px;
        left: 132px;
        top: calc(50% - 46px/2 - 46px);
        
        font-family: 'Cormorant Garamond';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 46px;
        /* identical to box height, or 153% */
        
        color: #F5D38E;
        }
        
        
        /* Textbox 1 */
        .inputmail{
        position: absolute;
        width: 269px;
        height: 35px;
        right: 247px;
        top: calc(50% - 35px/2 + 14.5px);
        border: 1px solid #FFFFFF;
        border-radius: 18px 0px 0px 18px;
        padding-left: 25px ;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
        /* identical to box height, or 157% */
        background-color: transparent;
        color: #FFFFFF;
        }
        
        
        
        
        
        
        /* Mail */
        .mail{
        position: absolute;
        width: 16px;
        height: 16px;
        left: 905px;
        top: 125px;
        }
        
        
        /* Subscribe to our newsletter */
        .subscribef{
        position: absolute;
        width: 215px;
        height: 30px;
        right: 301px;
        top: calc(50% - 30px/2 - 54px);
        
        font-family: 'Cormorant Garamond';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        /* identical to box height, or 150% */
        
        color: #FFFFFF;
        }
        
        
        /* For product announcements and exclusive insights */
        .forproductf{
        position: absolute;
        width: 281px;
        height: 20px;
        right: 235px;
        top: calc(50% - 20px/2 - 29px);
        
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        /* identical to box height, or 167% */
        
        color: #FAFAFB;
        }
        
        
        /* Button 1 */
        .parte3 button{
        position: absolute;
        width: 114px;
        height: 36px;
        right: 132px;
        top: calc(50% - 36px/2 + 15px);
        
        background: #F2C66D;
        border-radius: 0px 18px 18px 0px;
        border: 1px solid #6b4a09;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
        /* identical to box height, or 157% */
        
        color: #6B4A09;
        }
        
        
        
        
        /* © 2022 Brand, Inc. */
        .brandinc{
        position: absolute;
        width: 117px;
        height: 22px;
        left: 132px;
        bottom: 25px;
        
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        /* identical to box height, or 157% */
        
        color: #FFFFFF;
        }
        
        .parte3 a{
            text-decoration: none;
        }
        /* Contact */
        .contactf{
        position: absolute;
        width: 54px;
        height: 22px;
        left: 601px;
        top: calc(50% - 22px/2 - 58px);
        
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        /* identical to box height, or 157% */
        
        color: #FFFFFF;
        }
        
        
        /* Privacy */
        .privacyf{
        position: absolute;
        width: 47px;
        height: 22px;
        left: 601px;
        top: calc(50% - 22px/2 - 24px);
        
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        /* identical to box height, or 157% */
        
        color: #FFFFFF;
        }
        
        
        /* Terms */
        .termsf{
        position: absolute;
        width: 40px;
        height: 22px;
        left: 601px;
        top: calc(50% - 22px/2 + 10px);
        
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        /* identical to box height, or 157% */
        
        color: #FFFFFF;
        }
        
        
        /* Collections */
        .collectionsf{
        position: absolute;
        width: 74px;
        height: 22px;
        left: 433px;
        top: calc(50% - 22px/2 - 24px);
        
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        /* identical to box height, or 157% */
        
        color: #FFFFFF;
        }
        
        
        /* Shop */
        .shopf{
        position: absolute;
        width: 34px;
        height: 22px;
        left: 433px;
        top: calc(50% - 22px/2 - 58px);
        
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        /* identical to box height, or 157% */
        
        color: #FFFFFF;
        }
        
        
        /* About */
        .aboutf{
        position: absolute;
        width: 40px;
        height: 22px;
        left: 433px;
        top: calc(50% - 22px/2 + 10px);
        
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        /* identical to box height, or 157% */
        
        color: #FFFFFF;
        } 