@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
}

.encabezado{
    position: absolute;
    width: 1440px;
    height: 450px;
    left: 0px;
    right: 0px;
    top: 0px;
    background: #093931;
    background-image: url(/assets/vectorfondo2.png);
    background-size: cover;
    background-repeat: no-repeat;

    }
.encabezado span {
position: absolute;
width: 95px;
height: 46px;
left: 132px;

font-family: 'Cormorant Garamond', serif;
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 46px;

color: #F5D38E;
}

/* Header Menu 1 */
.encabezado nav {
position: absolute;
width: 431px;
height: 43px;
right: 218px;

border-radius: 4px;
}
.encabezado a{
padding: 10px;
text-decoration: none;    
font-family: 'Manrope', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */

color: #FFFFFF;

}
.encabezado a:hover{
    color: #F2C66D;
}
/* Rectangle */
.rectangle{
position: absolute;
width: 70px;
height: 4px;
top: 39px;
border-radius: 2px;
left: 845px;

}
.encabezado a.shop {
    color: #F2C66D;
}
.carrito, .muñeco{
width: 20px;
height: 20px;
padding-left: 10px;
}

/* Our Products */
.principal h1{
position: absolute;
width: 330px;
height: 82px;
left: calc(50% - 330px/2);
top: 146px;

font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 400;
font-size: 62px;
line-height: 82px;
/* identical to box height, or 132% */
text-align: center;

color: #F5D38E;
}

/* Textbox 2 */
.principal input{
position: absolute;
width: 757px;
height: 51px;
left: calc(50% - 757px/2 - 0.5px);
top: 252px;
background: #FFFFFF;
border: 1px solid #F8F9FA;
border-radius: 26px;
padding-left: 52px;
font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;

color: #323842;
}


/* Search */
.principal img{
position: absolute;
width: 24px;
height: 24px;
left: 400px;
flex-shrink: 0;
top: 265px;
}

/* Textbox 2 */
.menu-desplegablesort{
position: absolute;
width: 138px;
height: 36px;
left: calc(50% - 138px/2 + 519px);
top: 522px;

border-radius: 4px 4px 0px 0px;
}

/* Vector */
.vectorsort{
position: absolute;
width: 138px;
top: 36px;
border: 1px;

}

/* Sort by price */
.sort{
position: absolute;
height: 22px;
left: 0px;
right: 57px;
top: calc(50% - 22px/2);

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */

color: #171A1F;
}


/* Chevron down large */
.chevronsort{
position: absolute;
width: 16px;
height: 16px;
right: 0px;
top: calc(50% - 16px/2);
}


.navboton {
    display: flex;
    width: 878px;
    height: 38px;
    justify-content: center;
    padding-top: 72px;
    padding-left: 132px;
}
.all{
    color: #0D554A;
    font-size: 14px;
    font-weight: 400px;
    font-family: 'Manrope';
    padding: 8px 68px;
    border-radius: 19px;
    margin: 5px;
    text-decoration: none;
    line-height: 22px; 
}
.rings{
    color: #0D554A;
    font-size: 14px;
    font-weight: 400px;
    font-family: 'Manrope';
    padding: 8px 58px;
    border-radius: 19px;
    margin: 5px;
    text-decoration: none;
    line-height: 22px; 
}
.bracelets{
    color: #0D554A;
    font-size: 14px;
    font-weight: 400px;
    font-family: 'Manrope';
    padding: 8px 43.3px;
    border-radius: 19px;
    margin: 5px;
    text-decoration: none;
    line-height: 22px; 
}
.necklaces{
    color: #0D554A;
    font-size: 14px;
    font-weight: 400px;
    font-family: 'Manrope';
    padding: 8px 40.8px;
    border-radius: 19px;
    margin: 5px;
    text-decoration: none;
    line-height: 22px; 
}
.earrings{
    color: #0D554A;
    font-size: 14px;
    font-weight: 400px;
    font-family: 'Manrope';
    padding: 8px 47.3px;
    border-radius: 19px;
    margin: 5px;
    text-decoration: none;
    line-height: 22px; 
}
.navboton ul a:hover{
    color: #FFFFFF;
    background-color: #0D554A;
}
.navboton ul a.all{
    color: #FFFFFF;
    background-color: #0D554A;
    padding: 8px 68px;
}
/* Container 2 */
.primera1{
position: absolute;
width: 276px;
height: 404px;
left: calc(50% - 276px/2 - 450px);
top: 608px;

background: #FFFFFF;
box-shadow: 0px 0px 2px rgba(23, 26, 31, 0.12), 0px 0px 1px rgba(23, 26, 31, 0.07);
border-radius: 8px;
}

/* Luxury Gems Necklace */
.primera1 h1{
position: absolute;
width: 219px;
height: 36px;
left: 12px;
bottom: 36px;

font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */

color: #171A1F;
}


/* $168.76 */
.primera1 p{
position: absolute;
width: 57px;
height: 26px;
left: 12px;
bottom: 12px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

color: #171A1F;
}


/* Image 2 */
.primera1 img{
position: absolute;
height: 320px;
left: 0px;
right: 0px;
top: 0px;
border-top-right-radius: 8px;
border-top-left-radius: 8px;
}

/* Container 2 */
.primera2{
position: absolute;
width: 276px;
height: 404px;
left: calc(50% - 276px/2 - 150px);
top: 608px;

background: #FFFFFF;
box-shadow: 0px 0px 2px rgba(23, 26, 31, 0.12), 0px 0px 1px rgba(23, 26, 31, 0.07);
border-radius: 8px;
}

/* Aurora Ring */
.primera2 h1{
position: absolute;
width: 121px;
height: 36px;
left: 12px;
bottom: 36px;

font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */

color: #171A1F;
}


/* $125.28 */
.primera2 p {
position: absolute;
width: 57px;
height: 26px;
left: 12px;
bottom: 12px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

color: #171A1F;
}


/* Image 2 */
.primera2 img{
position: absolute;
height: 320px;
left: 0px;
right: 0px;
top: 0px;
border-top-right-radius: 8px;
border-top-left-radius: 8px;
background: url(.jpg);
}


/* Container 2 */
.primera3 {
position: absolute;
width: 276px;
height: 404px;
left: calc(50% - 276px/2 + 150px);
top: 608px;

background: #FFFFFF;
box-shadow: 0px 0px 2px rgba(23, 26, 31, 0.12), 0px 0px 1px rgba(23, 26, 31, 0.07);
border-radius: 8px;
}

/* Reflections Necklace */
.primera3 h1 {
position: absolute;
width: 199px;
height: 36px;
left: 12px;
bottom: 36px;

font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */

color: #171A1F;
}


/* $620.73 */
.primera3 p {
position: absolute;
width: 60px;
height: 26px;
left: 12px;
bottom: 12px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

color: #171A1F;
}


/* Image 2 */
.primera3 img{
position: absolute;
height: 320px;
left: 0px;
right: 0px;
top: 0px;
border-top-right-radius: 8px;
border-top-left-radius: 8px;
background: url(.jpg);
}

/* Container 2 */
.primera4{
position: absolute;
width: 276px;
height: 404px;
left: calc(50% - 276px/2 + 450px);
top: 608px;

background: #FFFFFF;
box-shadow: 0px 0px 2px rgba(23, 26, 31, 0.12), 0px 0px 1px rgba(23, 26, 31, 0.07);
border-radius: 8px;
}

/* Dreamy Infinity Ring */
.primera4 h1{
position: absolute;
width: 205px;
height: 36px;
left: 12px;
bottom: 36px;

font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */

color: #171A1F;
}


/* $327.71 */
.primera4 p{
position: absolute;
width: 53px;
height: 26px;
left: 12px;
bottom: 12px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

color: #171A1F;
}


/* Image 2 */
.primera4 img{
position: absolute;
height: 320px;
left: 0px;
right: 0px;
top: 0px;
border-top-right-radius: 8px;
border-top-left-radius: 8px;
background: url(.jpg);
}

/* Container 2 */
.primera5{
position: absolute;
width: 276px;
height: 404px;
left: calc(50% - 276px/2 - 450px);
top: 1054px;

background: #FFFFFF;
box-shadow: 0px 0px 2px rgba(23, 26, 31, 0.12), 0px 0px 1px rgba(23, 26, 31, 0.07);
border-radius: 8px;
}

/* Opulent Jewels Ring */
.primera5 h1{
position: absolute;
width: 197px;
height: 36px;
left: 12px;
bottom: 36px;

font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */

color: #171A1F;
}


/* $168.76 */
.primera5 p{
position: absolute;
width: 57px;
height: 26px;
left: 12px;
bottom: 12px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

color: #171A1F;
}


/* Image 2 */
.primera5 img{
position: absolute;
height: 320px;
left: 0px;
right: 0px;
top: 0px;
border-top-right-radius: 8px;
border-top-left-radius: 8px;
background: url(.jpg);
}

/* Container 2 */
.primera6{
position: absolute;
width: 276px;
height: 404px;
left: calc(50% - 276px/2 - 150px);
top: 1054px;

background: #FFFFFF;
box-shadow: 0px 0px 2px rgba(23, 26, 31, 0.12), 0px 0px 1px rgba(23, 26, 31, 0.07);
border-radius: 8px;
}

/* Serene Solitaire Earrings */
.primera6 h1{
position: absolute;
width: 235px;
height: 36px;
left: 12px;
bottom: 36px;

font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */

color: #171A1F;
}


/* $125.28 */
.primera6 p{
position: absolute;
width: 57px;
height: 26px;
left: 12px;
bottom: 12px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

color: #171A1F;
}


/* Image 2 */
.primera6 img{
position: absolute;
height: 320px;
left: 0px;
right: 0px;
top: 0px;
border-top-right-radius: 8px;
border-top-left-radius: 8px;
background: url(.jpg);
}

/* Container 2 */
.primera7 {
position: absolute;
width: 276px;
height: 404px;
left: calc(50% - 276px/2 + 150px);
top: 1054px;

background: #FFFFFF;
box-shadow: 0px 0px 2px rgba(23, 26, 31, 0.12), 0px 0px 1px rgba(23, 26, 31, 0.07);
border-radius: 8px;
}

/* Timeless Halo Earrings */
.primera7 h1{
position: absolute;
width: 221px;
height: 36px;
left: 12px;
bottom: 36px;

font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */

color: #171A1F;
}


/* $620.73 */
.primera7 p{
position: absolute;
width: 60px;
height: 26px;
left: 12px;
bottom: 12px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

color: #171A1F;
}


/* Image 2 */
.primera7 img{
position: absolute;
height: 320px;
left: 0px;
right: 0px;
top: 0px;
border-top-right-radius: 8px;
border-top-left-radius: 8px;
}

/* Container 2 */
.primera8{
position: absolute;
width: 276px;
height: 404px;
left: calc(50% - 276px/2 + 450px);
top: 1054px;

background: #FFFFFF;
box-shadow: 0px 0px 2px rgba(23, 26, 31, 0.12), 0px 0px 1px rgba(23, 26, 31, 0.07);
border-radius: 8px;
}

/* Exquisite Earrings */
.primera8 h1{
position: absolute;
width: 172px;
height: 36px;
left: 12px;
bottom: 36px;

font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */

color: #171A1F;
}


/* $327.71 */
.primera8 p{
position: absolute;
width: 53px;
height: 26px;
left: 12px;
bottom: 12px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

color: #171A1F;
}


/* Image 2 */
.primera8 img {
position: absolute;
height: 320px;
left: 0px;
right: 0px;
top: 0px;
border-top-right-radius: 8px;
border-top-left-radius: 8px;
}

/* Container 2 */
.primera9{
position: absolute;
width: 576px;
height: 826px;
left: calc(50% - 576px/2 - 300px);
top: 1500px;

background: #FFFFFF;
box-shadow: 0px 0px 2px rgba(23, 26, 31, 0.12), 0px 0px 1px rgba(23, 26, 31, 0.07);
border-radius: 8px;
}

/* Timeless Elegance Ring */
.primera9 h1{
position: absolute;
width: 262px;
height: 42px;
left: 24px;
bottom: 38px;

font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 42px;
/* identical to box height, or 150% */

color: #171A1F;
}


/* $168.76 */
.primera9 p{
position: absolute;
width: 57px;
height: 26px;
left: 24px;
bottom: 18px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

color: #171A1F;
}


/* Image 2 */
.primera9 img{
position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 92px;
border-top-right-radius: 8px;
border-top-left-radius: 8px;
}

/* Container 2 */
.primera10{
position: absolute;
width: 276px;
height: 404px;
left: calc(50% - 276px/2 + 150px);
top: 1500px;

background: #FFFFFF;
box-shadow: 0px 0px 2px rgba(23, 26, 31, 0.12), 0px 0px 1px rgba(23, 26, 31, 0.07);
border-radius: 8px;
}

/* Luxury Charms Ring */
.primera10 h1{
position: absolute;
width: 200px;
height: 36px;
left: 12px;
bottom: 36px;

font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */

color: #171A1F;
}


/* $620.73 */
.primera10 p{
position: absolute;
width: 60px;
height: 26px;
left: 12px;
bottom: 12px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

color: #171A1F;
}


/* Image 2 */
.primera10 img {
position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 84px;
border-top-right-radius: 8px;
border-top-left-radius: 8px;
background: url(.jpg);
}

/* Container 2 */
.primera11 {
position: absolute;
width: 276px;
height: 404px;
left: calc(50% - 276px/2 + 450px);
top: 1500px;

background: #FFFFFF;
box-shadow: 0px 0px 2px rgba(23, 26, 31, 0.12), 0px 0px 1px rgba(23, 26, 31, 0.07);
border-radius: 8px;
}

/* Blissful Bloom Ring */
.primera11 h1{
position: absolute;
width: 190px;
height: 36px;
left: 12px;
bottom: 36px;

font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */

color: #171A1F;
}


/* $620.73 */
.primera11 p {
position: absolute;
width: 60px;
height: 26px;
left: 12px;
bottom: 12px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

color: #171A1F;
}


/* Image 2 */
.primera11 img{
position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 84px;
border-top-right-radius: 8px;
border-top-left-radius: 8px;
background: url(.jpg);
}

/* Container 2 */
.primera12 {
position: absolute;
width: 276px;
height: 404px;
left: calc(50% - 276px/2 + 150px);
top: 1922px;

background: #FFFFFF;
box-shadow: 0px 0px 2px rgba(23, 26, 31, 0.12), 0px 0px 1px rgba(23, 26, 31, 0.07);
border-radius: 8px;
}

/* Sparkling Ring  */
.primera12 h1{
position: absolute;
width: 144px;
height: 36px;
left: 12px;
bottom: 36px;

font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */

color: #171A1F;
}


/* $620.73 */
.primera12 p{
position: absolute;
width: 60px;
height: 26px;
left: 12px;
bottom: 12px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

color: #171A1F;
}


/* Image 2 */
.primera12 img {
position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 84px;
border-top-right-radius: 8px;
border-top-left-radius: 8px;
background: url(.jpg);
}

/* Container 2 */
.primera13{
position: absolute;
width: 276px;
height: 404px;
left: calc(50% - 276px/2 + 450px);
top: 1922px;

background: #FFFFFF;
box-shadow: 0px 0px 2px rgba(23, 26, 31, 0.12), 0px 0px 1px rgba(23, 26, 31, 0.07);
border-radius: 8px;
}

/* Glimmering Ring */
.primera13 h1{
position: absolute;
width: 169px;
height: 36px;
left: 12px;
bottom: 36px;

font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */

color: #171A1F;
}


/* $620.73 */
.primera13 p{
position: absolute;
width: 60px;
height: 26px;
left: 12px;
bottom: 12px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

color: #171A1F;
}


/* Image 2 */
.primera13 img{
position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 84px;
border-top-right-radius: 8px;
border-top-left-radius: 8px;
}

.nav-numeros {
padding-top: 1800px;
padding-left: 546px;
margin: 8px;
}



/* Container 2 */
.segunda{
position: absolute;
height: 232px;
left: 0px;
right: 0px;
top: 2474px;

background: #FFFFFF;
}

/* Love message 2 */
.love{
position: absolute;
width: 62px;
height: 62px;
left: calc(50% - 62px/2 + 1px);
top: 36px;
}

/* Customer care */
.Costumer {
position: absolute;
width: 120px;
height: 28px;
left: calc(50% - 120px/2 + 2px);
top: 116px;

font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */
text-align: center;

color: #171A1F;
}


/* Ea esse elit anim commodo laborum pariatur nisi. Voluptate elit d */
.costumerp{
position: absolute;
width: 276px;
height: 52px;
left: calc(50% - 276px/2 + 1px);
top: 144px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 162% */
text-align: center;

color: #9095A0;
}


/* Delivery time 2 */
.time{
position: absolute;
width: 62px;
height: 62px;
left: calc(50% - 62px/2 - 402px);
top: 36px;
}


/* Delivery */
.delivery{
position: absolute;
width: 70px;
height: 28px;
left: calc(50% - 70px/2 - 401px);
top: 116px;

font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */
text-align: center;

color: #171A1F;
}


/* Ea esse elit anim commodo laborum pariatur nisi. Voluptate elit d */
.deliveryp{
position: absolute;
width: 276px;
height: 52px;
left: calc(50% - 276px/2 - 402px);
top: 144px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 162% */
text-align: center;

color: #9095A0;
}


/* Lock landscape 2 */
.lock {
position: absolute;
width: 62px;
height: 62px;
left: calc(50% - 62px/2 + 404px);
top: 36px;
}

/* Payment security */
.Payment{
position: absolute;
width: 143px;
height: 28px;
left: calc(50% - 143px/2 + 405.5px);
top: 116px;

font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */
text-align: center;

color: #171A1F;
}


/* Ea esse elit anim commodo laborum pariatur nisi. Voluptate elit d */
.paymentp{
position: absolute;
width: 276px;
height: 40px;
left: calc(50% - 276px/2 + 404px);
top: 144px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 162% */
text-align: center;

color: #9095A0;
}
















/* Container 1 */
.parte3{
    position: absolute;
    width: 1440px;
    height: 234px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 2751px;
    background: #093931;
    }
    
    
    
    /* Logo facebook 1 */
    .logofb{
    position: absolute;
    width: 24px;
    height: 24px;
    right: 212px;
    bottom: 24px;
    }
    
    
    /* Logo twitter 1 */
    .logotwitter{
    position: absolute;
    width: 24px;
    height: 24px;
    right: 252px;
    bottom: 24px;
    }
    
    
    
    /* Logo youtube 1 */
    .logoyoutube{
    position: absolute;
    width: 24px;
    height: 24px;
    right: 132px;
    bottom: 24px;
    }
    
    
    
    /* Logo linkedin 1 */
    .logolinkedin{
    position: absolute;
    width: 24px;
    height: 24px;
    right: 172px;
    bottom: 24px;
    }
    
    
    
    /* Darling. */
    .darlingf{
    position: absolute;
    width: 95px;
    height: 46px;
    left: 132px;
    top: calc(50% - 46px/2 - 46px);
    
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 46px;
    /* identical to box height, or 153% */
    
    color: #F5D38E;
    }
    
    
    /* Textbox 1 */
    .inputmail{
    position: absolute;
    width: 269px;
    height: 35px;
    right: 247px;
    top: calc(50% - 35px/2 + 14.5px);
    border: 1px solid #FFFFFF;
    border-radius: 18px 0px 0px 18px;
    padding-left: 25px ;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    background-color: transparent;
    color: #FFFFFF;
    }  
        
    /* Mail */
    .mail{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 905px;
    top: 125px;
    }
    
    
    /* Subscribe to our newsletter */
    .subscribef{
    position: absolute;
    width: 215px;
    height: 30px;
    right: 301px;
    top: calc(50% - 30px/2 - 54px);
    
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */
    
    color: #FFFFFF;
    }
    
    
    /* For product announcements and exclusive insights */
    .forproductf{
    position: absolute;
    width: 281px;
    height: 20px;
    right: 235px;
    top: calc(50% - 20px/2 - 29px);
    
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */
    
    color: #FAFAFB;
    }
    
    
    /* Button 1 */
    .parte3 button{
    position: absolute;
    width: 114px;
    height: 36px;
    right: 132px;
    top: calc(50% - 36px/2 + 15px);
    
    background: #F2C66D;
    border-radius: 0px 18px 18px 0px;
    border: 1px solid #6b4a09;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    color: #6B4A09;
    }
    
    
    
    
    /* © 2022 Brand, Inc. */
    .brandinc{
    position: absolute;
    width: 117px;
    height: 22px;
    left: 132px;
    bottom: 25px;
    
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    color: #FFFFFF;
    }
    
    .parte3 a{
        text-decoration: none;
    }
    /* Contact */
    .contactf{
    position: absolute;
    width: 54px;
    height: 22px;
    left: 601px;
    top: calc(50% - 22px/2 - 58px);
    
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    color: #FFFFFF;
    }
    
    
    /* Privacy */
    .privacyf{
    position: absolute;
    width: 47px;
    height: 22px;
    left: 601px;
    top: calc(50% - 22px/2 - 24px);
    
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    color: #FFFFFF;
    }
    
    
    /* Terms */
    .termsf{
    position: absolute;
    width: 40px;
    height: 22px;
    left: 601px;
    top: calc(50% - 22px/2 + 10px);
    
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    color: #FFFFFF;
    }
    
    
    /* Collections */
    .collectionsf{
    position: absolute;
    width: 74px;
    height: 22px;
    left: 433px;
    top: calc(50% - 22px/2 - 24px);
    
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    color: #FFFFFF;
    }
    
    
    /* Shop */
    .shopf{
    position: absolute;
    width: 34px;
    height: 22px;
    left: 433px;
    top: calc(50% - 22px/2 - 58px);
    
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    color: #FFFFFF;
    }
    
    
    /* About */
    .aboutf{
    position: absolute;
    width: 40px;
    height: 22px;
    left: 433px;
    top: calc(50% - 22px/2 + 10px);
    
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    color: #FFFFFF;
    }